<% total=0 %>
<h1>My Cart</h1>
<center>
	<table cellpadding="20" cellspacing="10" bgcolor="#F5A9BC"  >

		<tr>
			<th>Product Name</th>
			<th>Product Price</th>
			<th>Quantity</th>
			<th>Price</th>
			<th></th>
		</tr>

		<% @cart_items.each do |cart_item| %>
			
			<tr>
				<td><%= cart_item.product.name %></td>
				<td><%= cart_item.product.price %>(₹)</td>
				<%= form_tag change_quantity_cart_item_path(cart_item),:method => :post do %>
				<div class ="input">			
					<td><%= text_field_tag :quantity, cart_item.quantity %>
					<%= submit_tag "add"%></td>
				</div>
					<td><%= cart_item.product.price * cart_item.quantity %>(₹)</td>
					<% total= total+(cart_item.product.price * cart_item.quantity)%>
					<td><%= link_to 'delete', cart_item_path(cart_item), :method => :delete %></td>
				<% end %>
			</tr>
		<% end %>

		</table>
		<div class='line'></div>
		<div class = "tot">
			
			<p><label>Total:</label>
			<%= total %>(₹)</p>

		</div>
	
</center>
<%= link_to 'Continue Shopping', categories_path %>
<%= link_to 'CheckOut', payment_confirmation_cart_items_path %>