<div class = "display_product" >

	<div class = "category_list" >
		<% @categories.each do |category| %>
			<p><%= link_to category.name, category_products_path(category) %></p>
			<p><div class = "separation"></div></p>
		<% end %>
	</div>
	<div class ="hide_categories">

	</div>
	<div class = "product_list">
		<div class= "category_display">
			<center>
				<p><%= @selected_category.name %></p>
				<p><label>No.of products: </label>
				<%= @selected_category.products.count %></p>
			</center>
		</div>

		<% @products.each do |product| %>
			<div class = "box">
				<center>
					<p><%= image_tag product.photo.url, :size => '80x80' %></p>
					<p><%= product.name %></p>
					<p><%= product.price %></p>
					<p><%= link_to 'Add To Cart', cart_items_path(:product_id => product.id),:remote => true , :method => :post %></p>
				</center>
				<%  unless current_user.blank?%>
					<% if current_user.is_admin? %>
						<%= link_to 'show', category_product_path(@selected_category, product)%>
						<%= link_to 'edit', edit_category_product_path(@selected_category, product)%>
						<%= link_to 'destroy', category_product_path(@selected_category, product), :method => :delete %>
					<% end %>
				<%end%>
			</div>
		<% end %>

		<%  unless current_user.blank?%>
			<% if current_user.is_admin? %>
				<%= link_to 'Add Product', new_category_product_path(@selected_category) %>
			 <% end%>
		<% end %>
	</div>

</div>